
    <div class=" container col-12  text-center padd"><a class="btn btn-primary mt-auto " href="/create-product">Add Product</a></div>


    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"  >
            <div class="col mb-5"  *ngFor="let product of productList"  >
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top"  src="data:image/PNG;base64,{{product.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">
                                <a routerLink="product/{{ product.productId }}">{{product.productName}} </a>
                            </h5>
                            <!-- Product price-->
                            ${{ product.price }}
                        </div>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                   <!-- Product actions-->
                   <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/cart/{{product.productId}}">Add to cart</a></div>
                </div>
                </div>
            </div>
            
        </div>
        
    </div>