
  <img [src]="url" height="200" style="padding-top: 20px; padding-bottom: 20px; "> <br/>

<div class="container">
        <form class="row g-3" (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm">
          <app-upload   (onUploadFinished)="uploadFinished($event)"></app-upload>
        <div class="col-md-4">


          <label for="validationDefault01" class="form-label" >Product name</label>
          <input type="text" class="form-control  "  placeholder="Name..."id="validationDefault01"  minlength="4" required name="product_name" ngModel>
        </div>
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label" >Category Name</label>
            <select #proc (change)="showInfo(proc.value)" class="form-select"  name="product_category" ngModel>
              <option selected disabled value="">Category...</option>
                <option *ngFor="let cat of categoryList" [value]="cat.id">{{ cat.categoryName }}</option>
            </select>
          </div>

        <div class="col-md-4">
          <label for="validationDefaultUsername" class="form-label">Description</label>
          <div class="input-group">

            <input type="text" class="form-control" placeholder="Description..." id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required name="product_description" ngModel>
          </div>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Rating</label>
            <select class="form-select" id="validationDefault04" required name="product_rating" ngModel>
              <option selected disabled value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        <div >
          <mat-form-field  appearance="fill">
          <mat-label >Price</mat-label>
          <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">$</span>
          <input matInput #price  maxlength="5"  class="form-control" placeholder="Price..." required name="product_price" ngModel>
          </div>
        </mat-form-field>
        </div>

        <div class="col-md-3">
          <label for="validationDefault04" class="form-label">warranty</label>
          <select class="form-select" id="validationDefault04" required name="warranty" ngModel>
            <option selected disabled value="">Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="validationDefault05" class="form-label">Color</label>
          <input type="text" class="form-control" placeholder="Color..." id="validationDefault05" required name="product_color" ngModel>
        </div>

        <mat-form-field >
          <mat-label>End date </mat-label>
          <input matInput class="form-control" style="max-width: 30%;" [matDatepicker]="endPicker" name="end" placeholder="Expiration date..." ngModel>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <div class="col-12">
          <button class="btn btn-primary" type="submit" [disabled]="!addProductForm.valid"  >Add product</button>
        </div>

</form>
</div>

